@import "Variable";
.container{
    .row{
        .col-md-4{
            .banner-section{
                background-color:$feature;
                article{
                    padding: 20px;
                    button{
                        outline:none;
                        border: none;
                        background-color: $white;
                        padding:10px;
                        border-radius: 50px;
                        width:60px;
                        height: 60px;
                        .bi{
                            font-size: 30px;
                            color: $red;
                        } 
                    }
                    .free{
                        margin: 10px 0;
                        font-size: 20px;
                        color: $light_black;
                    }
                    .text{
                        font-size: 15px;
                        color:$dark;
                    }  
                }
            }
        }
    }
}