.container{
    .row{
        .late{
            margin: 20px 0;
            text-align: center;
            position: relative;
            h3{
                font-size: 26px;
                color: $dark_black;
            }
        }
        .col-md-12{
            .slider-slide{
                margin: 30px 10px;
                .move{
                    img{
                        width: 100%;
                        object-fit: cover;
                        padding-right: 20px;
                        height: 200px;
                    }
                }
                .conte{
                    h4{
                        font-size: 20px;
                        color: $sil;
                    }
                    p{
                        font-size: 15px;
                        padding: 10px;
                        color: $sil2;
                        text-align: justify;
                    }
                    button{
                        outline: none;
                        border: none;
                        border: 2px solid $dark_black;
                        background-color: transparent;
                        padding: 4px 8px;
                        text-transform: uppercase;
                        font-size: 12px;
                        transition: all 0.3s linear;
                        &:hover{
                            color: $white;
                            background-color: $red;
                            outline: none;
                            border-color: $red;
                        }
                    }
                }
            }
            .ar{
                .rigt,
                .rigt_last
                {
                    position: absolute;
                    top: 60px;
                    left: 50%;
                    button{
                        outline: none;
                        border: none;
                        border: 2px solid $late2;
                        background-color: transparent;
                        padding: 3px;
                        font-size: 14px;
                        color: $dark;
                        font-weight: bold;
                        transition: all 0.3s linear;
                        &:hover{
                            color: $white;
                            background-color: $red;
                            border-color: $red;
                        }
                    }
                }
                .let,
                .let_last{
                    position: absolute;
                    top: 60px;
                    left: 47%;
                    button{
                        outline: none;
                        border: none;
                        border: 2px solid $late2;
                        background-color: transparent;
                        padding: 3px;
                        font-size: 14px;
                        color: $dark;
                        font-weight: bold;
                        transition: all 0.3s linear;
                        &:hover{
                            color: $white;
                            background-color: $red;
                            border-color: $red;
                        }
                    }
                }
            }
        }
    }
}