@import "Variable";
.shop{
    background-color: $shop;
    margin: 40px 0;
    .container{
        h3{
            text-align: center;
            padding: 40px 0;
            color: $head_black;
            font-weight: 400;
            font-size: 30px;
        }
        .row{
            .col-md-12{
                position: relative;
                .main-slider2{
                    .slider-holder{
                        padding: 10px;
                        img{
                            width: 100%;
                            object-fit: cover;
                        }
                    }
                }
                .arr{
                    .left{
                        position: absolute;
                        top: -35px;
                        left: 46%;
                        button{
                            background: transparent;
                            outline: none;
                            border: none;
                            border: 2px solid $light_smoke;
                            color: $grey_dark;
                            width: 40px;
                            transition:0.3s all linear;
                            &:hover{
                                color: $white;
                                background-color: $red;
                                border-color:$red;
                            }
                        }
                    }
                    .right{
                        position: absolute;
                        top: -35px;
                        left: 50%;
                        button{
                            background: transparent;
                            outline: none;
                            border: none;
                            border: 2px solid $light_smoke;
                            color: $grey_dark;
                            width: 40px;
                            transition:0.3s all linear;
                            &:hover{
                                color: $white;
                                background-color: $red;
                                border-color:$red;
                            }
                        }
                    }
                }
            }
        }
    }
}
.slick-dots{
	display: flex;
	justify-content: center;
	list-style-type: none;
	li {
		margin: 0 0.25rem;
	}
	button 
    {
		display: block;
		width: 10px !important;
		height: 10px !important;
		padding: 0;
		border: none;
		border-radius: 100%;
		background-color: $black !important;
		text-indent: -9999px;
	}
	li.slick-active button {
		background-color: $red !important;
	}
	
}