$black:#000000;
$dark_blue:#243142;
$dark_black:#333538;
$grey_dark:#999999;
$grey_light:#acacac;
$head_black:#413f3f;
$light_black:#333333;
$light_blue:#4e6788;
$current_price:#2a80b9;
$med_black:#3e4253;
$light_grey:#f7f7f7;
$red:#e84c3d;
$yellow:#feae17;
$yellow_dark:#ffc800;
$white:#ffffff;
$border:#ededed; 
$drop_color:#444645;
$dark_grey:#f4f4f4;
$light_brown:#444444;
$dark_brown:#383838;
$smoke:#e0e0e0;
$del:#bdbdbd;
$light_smoke:#e6e6e6;
$feature:#f7f8f8;
$dark:#777777;
$shop:#f4f6f7;
$clock:#3598db;
$navtabs:#3c3c3c;
$sp:#e1e1e1;
$mar:#434343;
$start:#455c7b;
$blu:#216ced;
$late:#161d25;
$late2:#818181;
$red_pure:#fa1919;
$glu:#dedfdf;
$sil:#3d3d3d;
$sil2:#797979;